@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Rock+Salt&display=swap");

.que-ans {
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
