@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Rock+Salt&display=swap");

.title {
  font-family: "Rock Salt", cursive;
  text-align: center;
}

.subheadtitle {
  font-family: "Oswald", sans-serif;
  text-align: center;
}
